<!-- Call to action -->
<div class="container text-center py-5">
  <div class="row align-self-center">
    <div class="col">
      <a class="btn btn-info btn-outline-black " href="{{ root }}contact.html"><strong>Contact us</strong></a>
    </div>
  </div>
</div>