  <!-- Call to action -->
  <div class="bg-primary text-dark text-center">
    <div class="container py-5 py-md-6">
      <h2>Newsletter subscription</h2>
      <p class="fw-light mb-4">Subscribe to our newsletter to receive news & updates</p>
      <form>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col-md-4 col-xl-3">
            <label for="name" class="visually-hidden">First name</label>
            <input type="text" class="form-control border-white fst-italic" id="name" placeholder="First name">
          </div>
          <div class="col-md-4 col-xl-3">
            <label for="email" class="visually-hidden">Email address</label>
            <input type="email" class="form-control border-white fst-italic" id="email" placeholder="Email address">
          </div>
          <div class="col-md-auto">
            <button type="submit" class="btn btn-dark w-100">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>