<!-- Call to action -->
<div class="container text-center py-5">
  <div class="row align-self-center">
    <div class="col">
      <a class="btn btn-outline-secondary" href="{{ root }}contact.html">Contact us</a>
    </div>
  </div>
</div>