<footer class="bg-light text-dark">
  <div class="container py-5 py-md-6">
    <div class="row justify-content-md-between">
      <div class="col-4 col-md-2">
        <h2 class="h6">Home</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="#" class="link-secondary">About</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Burial Methods</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Grief</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h2 class="h6 mb-3">Work</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="#" class="link-secondary">Services</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Burial</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Portfolio</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h2 class="h6 mb-3">More</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="#" class="link-secondary">Instagram</a>
          </li>
          <li class="mb-1">
            <a href="#" class="link-secondary">Client Login <i class="fa-regular fa-circle-right fa-xs"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
        <h2 class="h6 mb-3">Our Mission</h2>
        <p class="text-secondary">Precious Creature exists in order to provide compassionate and judgement-free pet aftercare, memorial, and master preservation for families.</p>
      </div>
    </div>
  </div>
</footer>
