<footer class="bg-light text-black">
  <div class="container pt-5 pt-md-6">
    <div class="row justify-content-md-between">
      <div class="col-4 col-md-2">
        <h2 class="h6">Home</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="{{ root }}about.html" class="link-black">About</a>
          </li>
          <li class="mb-1">
            <a href="{{ root }}grief.html" class="link-black">Grief</a>
          </li>
          <li class="mb-1">
            <a href="{{ root }}faq.html" class="link-black">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h2 class="h6 mb-3">Services</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="{{ root }}preservation.html" class="link-black">Preservation</a>
          </li>
          <li class="mb-1">
            <a href="{{ root }}burial.html" class="link-black">Burial</a>
          </li>
        </ul>
      </div>
      <div class="col-4 col-md-2">
        <h2 class="h6 mb-3">More</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="https://www.instagram.com/preciouscreature" class="link-black" target="_blank">Instagram</a>
          </li>
          <li class="mb-1">
            <a href="https://www.tiktok.com/@precious.creature" class="link-black" target="_blank">TikTok</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
        <h2 class="h6 mb-3">Our Mission</h2>
        <p class="text-black">Precious Creature exists in order to provide compassionate and judgement-free pet aftercare, memorial, and master preservation for individuals and families.</p>
      </div>
    </div>
    <div class="row justify-content-md-between">
        <p class="fs-6">&copy; 2023 Precious Creature</p>
    </div>
  </div>
</footer>
