<footer class="bg-white text-black">
  <div class="container pt-4 pt-md-6">
    <div class="row justify-content-md-between">

      <div class="col-4 col-md-2">
        <h2 class="h6">Home</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="{{ root }}about" class="link-black">About</a>
          </li>
          <li class="mb-1">
            <a href="{{ root }}grief" class="link-black">Grief</a>
          </li>
          <li class="mb-1">
            <a href="{{ root }}faq" class="link-black">FAQ</a>
          </li>
        </ul>
      </div>
      
      <div class="col-4 col-md-2">
        <h2 class="h6 mb-3">Services</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="{{ root }}preservation" class="link-black">Preservation</a>
          </li>
          <li class="mb-1">
            <a href="{{ root }}cremation" class="link-black">Cremation</a>
          </li>
          <li class="mb-1">
            <a href="{{ root }}cremation" class="link-black">Burial</a>
          </li>
        </ul>
      </div>

      <div class="col-4 col-md-2">
        <h2 class="h6 mb-3">More</h2>
        <ul class="nav flex-column">
          <li class="mb-1">
            <a href="https://www.instagram.com/preciouscreature" class="link-black" target="_blank">Instagram</a>
          </li>
          <li class="mb-1">
            <a href="https://www.tiktok.com/@precious.creature" class="link-black" target="_blank">TikTok</a>
          </li>
        </ul>
      </div>

      <div class="col-md-12 col-lg-4 mt-md-0 mt-4">
        <h2 class="h6 mb-3">Our Mission</h2>
        <p class="text-black">Precious Creature exists in order to provide compassionate and judgement-free pet taxidermy, aftercare, memorial, and master preservation services for individuals and families.</p>
      </div>

    </div>

    <div class="row mb-n4">
        <p>hello@preciouscreature.com</p>
    </div>

    <div class="row">
        <p class="fs-6">&copy; 2023 Precious Creature</p>
    </div>

  </div>
</footer>
