<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Precious Creature Pet Taxidermy | {{ title }}</title>
  <meta name="description" content="{{ description }}">

  <!-- Favicon -->
  <link rel="icon" href="{{ root }}assets/img/favicon.png">

  <!-- Google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600&family=EB+Garamond:wght@500&family=Fondamento&family=Homemade+Apple&family=Kristi&family=La+Belle+Aurore&family=Merriweather:wght@900&family=Monsieur+La+Doulaise&family=Mrs+Saint+Delafield&family=Playfair+Display:wght@400;600;800;900&family=Quintessential&display=swap" rel="stylesheet">

  <!-- Material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/1f9c4769fc.js" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ root }}assets/css/style.css">

  {%- if ('docs' in page.url) or ('style' in page.url) %}
  <!-- PrismJS theme -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism-okaidia.min.css">
  {% endif %}

  <!-- JS -->
  <script src="{{ root }}assets/js/bootstrap.js" defer></script>
  <script src="{{ root }}assets/js/lightbox.js" defer></script>
  <script src="{{ root }}assets/js/scripts.js" defer></script>
</head>
