<header>
  <nav class="navbar navbar-{{ navbarColor|default("dark") }} navbar-expand-xl fixed-top" aria-label="Main">
    <div class="container">
      <a href="{{ root }}/" class="navbar-brand d-inline-flex text-lowercase">Precious Creature</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons icon-2x" aria-hidden="true">menu</i>
      </button>
      <div class="collapse navbar-collapse text-uppercase" id="navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{{ root }}preservation" class="nav-link{{ ' active' if 'preservation' in page.url }}">Preservation</a>
          </li>
          <li class="nav-item">
            <a href="{{ root }}cremation" class="nav-link{{ ' active' if 'cremation' in page.url }}">Cremation and burial</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#"
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">Learn
              <i class="material-icons align-middle ms-1" aria-hidden="true">expand_more</i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ root }}about" class="nav-link{{ ' active' if 'about' in page.url }}">About</a></li>
              <li><a class="dropdown-item" href="{{ root }}grief" class="nav-link{{ ' active' if 'grief' in page.url }}">Grieving</a></li>
              <li><a class="dropdown-item" href="{{ root }}faq" class="nav-link{{ ' active' if 'faq' in page.url }}">FAQ</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{{ root }}contact" class="nav-link{{ ' active' if 'contact' in page.url }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container bg-white text-black pt-4 pb-1 rounded">
    <div class="jumbotron">
      <h1>Out of the studio! 🤍🖤</h1>
      <p>We are out of the studio exploring France and taking much-needed inspiration from a new place. We'll be unavailable by phone and email from August 14 to August 27. Thank you so much for your understanding and trust. Be back soon!</p>
    </div>
  </div>

</header>
