<header>
  <nav class="navbar navbar-{{ navbarColor|default("dark") }} navbar-expand-lg fixed-top" aria-label="Main">
    <div class="container">
      <a href="{{ root }}index.html" class="navbar-brand d-inline-flex text-lowercase">Precious Creature<i class="material-icons ms-2" aria-hidden="true">emoji_nature</i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <i class="material-icons icon-2x" aria-hidden="true">menu</i>
      </button>
      <div class="collapse navbar-collapse text-uppercase" id="navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{{ root }}services.html" class="nav-link{{ ' active' if 'services' in page.url }}">Services</a>
          </li>
          <li class="nav-item">
            <a href="{{ root }}portfolio.html" class="nav-link{{ ' active' if 'portfolio' in page.url }}">Portfolio</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#"
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">Learn
              <i class="material-icons align-middle ms-1" aria-hidden="true">expand_more</i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ root }}grief.html" class="nav-link{{ ' active' if 'grief' in page.url }}">Grieving</a></li>
              <li><a class="dropdown-item" href="{{ root }}faq.html" class="nav-link{{ ' active' if 'faq' in page.url }}">FAQ</a></li>
            </ul>
          </li>
           <li class="nav-item">
            <a href="{{ root }}contact.html" class="nav-link{{ ' active' if 'contact' in page.url }}">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
