.carousel-control-prev,
.carousel-control-next {
  i {
    background-color: $black;
    padding: 0.5rem;
    position: relative;
    top: -1rem;
  }
  &:focus-visible i {
    outline: 2px solid $white;
    outline-color: $white;
    outline-offset: 2px;
  }
}

.carousel-indicators {
  opacity: 0.9;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;

  button:focus-visible {
    outline: 2px solid $white;
    outline-color: $white;
    outline-offset: 1px;
  }
}

.carousel-wrap {
  padding: 50px 50px 120px;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
  transform: scale(2);
}
.img-thumbnail.active img {
  opacity: 1;
  transform: scale(2);
  position: relative;
  z-index: 2;
  outline: 1px solid white;
}
