a {
  transition: background-size 0.3s ease-in, color 0.3s ease-in;

  .bg-white &,
  .bg-light &,
  .bg-primary & {
    color: $black;
  }
}

a,
.btn,
.form-control,
.navbar-toggler {
  &:focus-visible {
    outline: 2px solid $white;
    outline-color: $white;
    outline-offset: 2px;
  }

  .bg-white &:focus-visible,
  .bg-light &:focus-visible,
  .bg-primary &:focus-visible,
  .navbar-light &:focus-visible {
    outline-color: $black;
  }
}

p a,
a.link-underline {


  &:hover {
    background-size: 100% 90%;
    color: #5d4637;
    outline: 0;
    border-bottom: 1px solid #78849d;
  }

}
