// Place your own Sass variables here.

// Fonts

$font-family-serif: "Fondamento", serif;
$font-family-sans-serif: "Cormorant Garamond", sans-serif;
$font-family-lead: "Cormorant Garamond", sans-serif;
$font-family-base: $font-family-sans-serif;

// Colors

$danger: #997a60;

$primary: #fffbe6;
$secondary: #e8e2d1;
$success: #fffbf4;
$info: #e8ddd1;
$warning: #ffefe6;

$navbar-dark-color: black;
$navbar-dark-brand-color: black;
$navbar-dark-hover-color: $dark;
$navbar-dark-active-color: $dark;
$btn-color: black;