// Place your own CSS or SCSS below this line.

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-family: "UnifrakturMaguntia";

    i {
      font-size: inherit;
      line-height: inherit;
    }

    img {
      max-height: 30px;
      width: auto;
    }
}

[class^="display"] {
    font-family: $font-family-serif;
    letter-spacing: normal;
  }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-serif;
  letter-spacing: 1px;
}


body { 
    background-image: url("/assets/img/doglady17.jpg") ;
              background-position: center center;
              background-repeat:  no-repeat;
              background-attachment: fixed;
              background-size:  cover;
              background-color: #999;   
}


.lead {
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      font-family: $font-family-serif;
    }
  }


  .carousel-control-prev,
  .carousel-control-next {
    i {
    }
    &:focus-visible i {
    }
  }
  
  .carousel-indicators {
  
    button:focus-visible {
    }
  }


  
  html {
    font-size: 1.25rem;
  
    @include media-breakpoint-up(lg) {
      font-size: 1.3rem;
    }
  
    @include media-breakpoint-up(xl) {
      font-size: 1.3rem;
    }
  }