// Place your own CSS or SCSS below this line.

[class^="display"] {
    font-family: $font-family-serif;
    letter-spacing: normal;
  }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-serif;
  letter-spacing: 1px;
}


body { 
    background-image: url("/assets/img/doglady17.webp") ;
              background-position: center center;
              background-repeat:  no-repeat;
              background-attachment: fixed;
              background-size:  cover;
              background-color: #999;   
}


.lead {
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      font-family: $font-family-serif;
    }
  }


  .carousel-control-prev,
  .carousel-control-next {
    i {
    }
    &:focus-visible i {
    }
  }
  
  .carousel-indicators {
  
    button:focus-visible {
    }
  }


  
  html {
    font-size: 1.25rem;
  
    @include media-breakpoint-up(lg) {
      font-size: 1.3rem;
    }
  
    @include media-breakpoint-up(xl) {
      font-size: 1.3rem;
    }
  }



  .navbar {

    &.navbar-dark {
      background-color:$secondary;
      border-bottom: 1px solid $dark;
  
      .nav-item + .nav-item {
        border-color: $dark;
      }
  
      .nav-link {
        &:hover,
        &.active {
          border-color: $white;
        }
      }
    }
  
    &.navbar-light {
      background-color: $white;
      border-bottom: 1px solid $light;
  
      .nav-item + .nav-item {
        border-color: $light;
      }
  
      .nav-link {
        &:hover,
        &.active {
          border-color: $black;
        }
      }
    }
  
    .navbar-brand {
      font-size: 1.5rem;
      letter-spacing: 1px;
  
      i {
        font-size: inherit;
        line-height: inherit;
      }
  
      img {
        max-height: 30px;
        width: auto;
      }
    }
  
    @include media-breakpoint-up(lg) {
      font-size: $font-size-sm;
  
      .nav-item + .nav-item::before {
        content: '\2022';
        color: $gray-300;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
  
      .nav-link {
        border-bottom: 3px solid transparent;
        display: inline-block;
        letter-spacing: 2px;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        transition: border-color 0.2s linear;
      }
  
      .dropdown-menu {
        font-size: $font-size-sm;
      }
  
      .dropdown-item {
        letter-spacing: 1px;
        transition: background-color 0.2s, color 0.2s linear;
      }
    }
  
    @include media-breakpoint-down(lg) {
      padding-top: .5rem;
      padding-bottom: .5rem;
  
      .nav-item + .nav-item {
        border-top: 1px solid;
      }
  
      .nav-link {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }
    }
  }
  

  .navbar-brand {
    font-family: "UnifrakturMaguntia";
}




.carousel .carousel-control-prev-icon {
  /* change fill="currentColor" to %23fff to make it white  */
    background-image: url('data:image/svg+xml,<svg viewBox="-1 0 20 20" fill="%23fff " xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg>');
  }
  
  .carousel .carousel-control-next-icon {
    /* change fill="currentColor" to %23fff to make it white  */
      background-image: url('data:image/svg+xml,<svg viewBox="-2 0 20 20" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>');
  }
  
  
  .carousel-control-next-icon, .carousel-control-prev-icon {
      /* Use to adjust size of icons */
      width: 3rem;
      height: 3rem;
  }