---
import Layout from "../layouts/Base.astro";
---

<Layout
  title="Precious Creature - Pet Aftercare, Pet Taxidermy, and Pet Preservation"
>
  <div>
    <div class="px-4 pt-10 font-display text-4xl font-bold">File not found</div>
    <div class="px-4 pt-4 font-display text-lg">
      Whoops, that page doesn't exist.
    </div>
  </div>
</Layout>
