---
import Layout from "../layouts/BaseNoCTA.astro";
---

<Layout
  title="Page not found"
  description="This file was not found on the Precious Creature website, which is a pet aftercare taxidermy service in California."
>
  <div>
    <div class="px-4 pt-10 font-display text-4xl font-bold">File not found</div>
    <div class="px-4 pt-4 font-display text-lg">
      Whoops, that page doesn't exist.
    </div>
  </div>
</Layout>
