---
layout: content
title: Bone preservation for pet preservation and pet taxidermy
description: Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.
permalink: /bones.html
---
    
  <!-- Header -->
  <div class="container pt-5 text-dark">

    <div class="row">
      <div class="col">
        <h1 class="display-2"><div class="text-danger">Skeleton</div></h1> 
        <p class="lead text-danger">Revealing and elegant, bones tell the remarkable story of your loved one's life.</p> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Families often choose to preserve their pet's bones as an elegant, insightful homage to their departed loved one. Bone preservation can be as simple as just your pet's skull, as artful as a container storing a collection of their cleaned bones for viewing, or as complex as a full articulation of their skeleton.</p>
      </div>
    </div>

    <!-- Gallery -->
    <div class="row row-cols-lg-3 row-cols-2">
      {% imgGallery "bones1.webp", "Dog's skull with a jar of bones and a plant in the background", "bones" %}
      {% imgGallery "bones_onfur.webp", "", "bones" %}
      {% imgGallery "bones_withvial.webp", "", "bones" %}
      {% imgGalleryBelowFold "bones2.webp", "Small dog's fully articulated skeleton", "bones" %}
      {% imgGalleryBelowFold "bones3.webp", "Close-up of cat's skull", "bones" %}
      {% imgGalleryBelowFold "bones4.webp", "Small dog's skull on top of a wooden box with a plaster cast of a paw print with the word Hazel on it", "bones" %}
      {% imgGalleryBelowFold "bones5.webp", "Mandala-like arrangement of bones surrounding an animal skull", "bones" %}
      {% imgGalleryBelowFold "bones6.webp", "Fully articulated cat skeleton with one paw reaching forward", "bones" %}
      {% imgGalleryBelowFold "bones7.webp", "Dog skull placed on top of a glass box filled with bones, which is then on top of a preserved fur", "bones" %}
      {% imgGalleryBelowFold "bones8.webp", "Side view of a fully articulated cat skeleton with the skull turned towards the camera", "bones" %}
      {% imgGalleryBelowFold "bones9.webp", "Dog skull with sage in the background, and other cleaned bones in the foreground", "bones" %}
      {% imgGalleryBelowFold "bones10.webp", "Cat skull with two long bones making an x in front of it, with bay leaves surrounding", "bones" %}
      {% imgGalleryBelowFold "bones11.webp", "Dog skull with a single long incisor made of gold", "bones" %}
      {% imgGalleryBelowFold "bones_onfur2.webp", "", "bones" %}
      {% imgGalleryBelowFold "bones12.webp", "Three articulated skeletons, two small and one large, arranged on top of a brown table", "bones" %}
      {% imgGalleryBelowFold "bones13.webp", "Small dog's skull with smaller vertebrae and salt flakes surrounding it", "bones" %}
      {% imgGalleryBelowFold "bones14.webp", "Dog skull on top of fur with a sphere made of hair hovering over it", "bones" %}
      {% imgGalleryBelowFold "bones15.webp", "Cat skull without teeth and bones arranged in front of it in an x. They're placed on top of a heart-shaped fur preservation.", "bones" %}
      {% imgGalleryBelowFold "bones16.webp", "Two weathered small dog skulls with bones arranged in front of them and a butterfly perched on a branch above the skulls", "bones" %}
      {% imgGalleryBelowFold "bones17.webp", "Dog skull with a pronounced underbite and lit candles in the background", "bones" %}
      {% imgGalleryBelowFold "bones18.webp", "Articulated cat skull facing the camera with fur draped behind it and three preserved coat balls in front", "bones" %}
      {% imgGalleryBelowFold "bones19.webp", "Cat skull in front of a preserved cat tail and a blank marble headstone", "bones" %}
      {% imgGalleryBelowFold "bones_and_fur_tail.webp", "", "bones" %}





    </div>
  
  </div>