---
import LightboxImage from '../components/LightboxImage.astro';
import Layout from "../layouts/Gallery.astro";
---
<Layout>
  <p slot="title">Skeleton</p>
  <p slot="subtitle">Revealing and elegant, bones tell the remarkable story of your loved one's life.</p>
  <p slot="description">Families often choose to preserve their pet's bones as an elegant, insightful homage to their departed loved one. Bone preservation can be as simple as just your pet's skull, as artful as a container storing a collection of their cleaned bones for viewing, or as complex as a full articulation of their skeleton.</p>
  <LightboxImage imagePath="/src/images/skeleton/skeleton_onfur.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_onfur2.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skullbonesjar.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skullcatheadstone.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skullcrossbonescatfur.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skulldogcandles.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skulldogonbox.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skulldogonfur.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skulldogotherbonestable.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skulldogtoothgold.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skullhazelpawprint.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skullsoldbrown.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_skulltableblack.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_three.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_withvial.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_and_fur_tail.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_bonesarranged.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_catcrossbones.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_catcrouchingfur.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_catfurballs.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_catheartnose.jpg" altText="" />
  <LightboxImage imagePath="/src/images/skeleton/skeleton_catholdingoutpaw.jpg" altText="" />
</Layout>

