---
layout: content
title: Bone preservation for pet preservation and pet taxidermy
description: Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.
permalink: /bones.html
---
    
  <!-- Header -->
  <div class="container py-5 text-dark">

    <div class="row">
      <div class="col">
        <h1 class="display-2"><div class="text-danger">Bones</div></h1> 
        <p class="lead text-danger">Revealing and elegant, bones tell the remarkable story of your loved one's life.</p> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Families often choose to preserve their pet's bones as an elegant, insightful homage to their departed loved one. Bone preservation can be as simple as just your pet's skull, as artful as a container storing a collection of their cleaned bones for viewing, or as complex as a full articulation of their skeleton.</p>
      </div>
    </div>

    <!-- Gallery -->
    <div class="row row-cols-3">
      {% imgGallery "assets/img/bones/bones1.webp", "Akita's pelt with a focus on the face", "bones" %}
      {% imgGallery "assets/img/bones/bones2.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones3.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones4.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones5.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones6.webp", "Akita's pelt with a focus on the face", "bones" %}
      {% imgGallery "assets/img/bones/bones7.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones8.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones9.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones10.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones11.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones12.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones13.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones14.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones15.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones16.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones17.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones18.webp", "Two preserved dog paws with ribbon", "bones" %}
      {% imgGallery "assets/img/bones/bones19.webp", "Two preserved dog paws with ribbon", "bones" %}

    </div>
  
  </div>