---
layout: base
title: Burial
description: Precious Creature is a pet aftercare taxidermy service in California.
permalink: /burial.html
---
    
  <!-- Header -->
  <div class="container py-1 py-lg-5 text-dark">
    <h1 class="display-3">Burial</h1>
    <div class="border border-5 border-dark w-15 mb-4"></div>
    <div class="row">
      <div class="col-lg-10 col-xxl-8">
        <p class="lead">The decision of how to honor the body of your passed loved one is a deeply personal one.</p><p>Whether you have chosen a preservation method for your pet like bone cleaning or taxidermy, or you are simply looking for a way to honor the body of your passed loved one, you have a number of choices you can make regarding the final disposition of your pet's body. We highlight those that we offer or facilitate below.</p>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="container mb-4">
    <div class="row gy-4 pb-5 pb-lg-6 row-cols-2 row-cols-lg-4 g-4">
      <div class="col-md">
        <div class="card rounded bg-secondary h-100">
          <div class="card-header text-center">
            <i class="fa-solid fa-leaf fa-6x text-success"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-light text-center">Burial</h5>
            <p class="card-text text-light">Precious Creature owns ten remote acres of desert land which can serve as the resting place for your pet's body. It would be our honor to host formal services for you, or we can respectfully complete the burial in your absence.</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card rounded bg-secondary h-100">
          <div class="card-header text-center">
            <i class="fa-solid fa-place-of-worship fa-6x"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-light text-center">Ossuary</h5>
            <p class="card-text text-light">We are currently constructing an ossuary or "bone temple" on our desert land to house and honor the bones of deceased pets. Although not yet built, we are able to discuss preparations for the ossuary.</p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card rounded bg-secondary h-100">
          <div class="card-header text-center">
            <i class="fa-solid fa-fire-flame-curved fa-6x text-primary"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-light text-center">Cremation</h5>
            <p class="card-text text-light">The traditional burning of a deceased's remains results in ashes that you can then spread or house in an urn or other vessel. We have collected a number of antique vessels for your consideration.</p>
          </div>
        </div>
      </div>
            <div class="col-md">
        <div class="card rounded bg-secondary h-100">
          <div class="card-header text-center">
            <i class="fa-solid fa-water fa-6x text-info"></i>
          </div>
          <div class="card-body">
            <h3 class="card-title text-light text-center">Aquamation</h5>
            <p class="card-text text-light">Gentler on the body and kinder for the earth, aquamation is a popular choice for handling a deceased's remains which still results in material you can spread or preserve in your home.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
