---
import LightboxImage from "../components/LightboxImage.astro";
import Layout from "../layouts/Gallery.astro";
---

<Layout>
  <p slot="title">Casts</p>
  <p slot="subtitle">
    Inorganic and lifelike, casts use alternative materials to commemorate your
    beloved.
  </p>
  <p slot="description">
    Casts allow families to honor the memory of a loved pet without the
    preservation of their original fur or bones. Instead, alternative materials
    are used to accurately and intimately represent your pet's nose, paws, or
    other preferred aspect from life.
  </p>
  <LightboxImage
    imagePath="/src/images/casts/casts_completedog.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_facecat.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_facecatgoldbook.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_facecatgoldtaxidermy.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_iguana.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_nosesthree.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawcathand.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawdogblack.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawdogblackstand.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawdogwhitedown.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawdogwhitemarble.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawprintpallete.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawsnosemarble.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawwhitedoghand.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawwhitedogup.jpg"
    altText=""
    height="1200"
    width="960"
  />
</Layout>
