---
import LightboxImage from '../components/LightboxImage.astro';
import Layout from "../layouts/Gallery.astro";
---
<Layout>
  <p slot="title">Casts</p>
  <p slot="subtitle">Inorganic and lifelike, casts use alternative materials to commemorate your beloved.</p>
  <p slot="description">Casts allow families to honor the memory of a loved pet without the preservation of their original fur or bones. Instead, alternative materials are used to accurately and intimately represent your pet's nose, paws, or other preferred aspect from life.</p>
  <LightboxImage url="../images/casts/cast_facecat.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_nosesthree.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_pawcathand.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_pawdogblack.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_pawdogblackstand.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_pawdogwhitedown.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_pawdogwhitemarble.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_pawsnosemarble.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_pawwhitedoghand.jpg" caption="" />
  <LightboxImage url="../images/casts/cast_pawwhitedogup.jpg" caption="" />  
</Layout>
