---
layout: content
title: Casts for pet preservation and pet taxidermy
description: Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.
permalink: /casts.html
---
    
  <!-- Header -->
  <div class="container py-5 text-dark">

    <div class="row">
      <div class="col">
        <h1 class="display-2"><div class="text-danger">Casts</div></h1> 
        <p class="lead text-danger">Inorganic and lifelike, casts use alternative materials to commemorate your beloved.</p> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Casts allow families to honor the memory of a loved pet without the preservation of their original fur or bones. Instead, alternative materials are used to accurately and intimately represent your pet's nose, paws, or other preferred aspect from life.</p>
      </div>
    </div>

    <!-- Gallery -->
    <div class="row row-cols-3">
      {% imgGallery "assets/img/casts/cast1.webp", "Akita's pelt with a focus on the face", "casts" %}
      {% imgGallery "assets/img/casts/cast2.webp", "Two preserved dog paws with ribbon", "casts" %}
      {% imgGallery "assets/img/casts/cast3.webp", "Two preserved dog paws with ribbon", "casts" %}
      {% imgGallery "assets/img/casts/cast4.webp", "Two preserved dog paws with ribbon", "casts" %}
      {% imgGallery "assets/img/casts/cast5.webp", "Two preserved dog paws with ribbon", "casts" %}
      {% imgGallery "assets/img/casts/cast6.webp", "Akita's pelt with a focus on the face", "casts" %}
      {% imgGallery "assets/img/casts/cast7.webp", "Two preserved dog paws with ribbon", "casts" %}
      {% imgGallery "assets/img/casts/cast8.webp", "Two preserved dog paws with ribbon", "casts" %}
      {% imgGallery "assets/img/casts/cast9.webp", "Two preserved dog paws with ribbon", "casts" %}
      {% imgGallery "assets/img/casts/cast10.webp", "Two preserved dog paws with ribbon", "casts" %}
    </div>
  
  </div>