---
import LightboxImage from "../components/LightboxImage.astro";
import Layout from "../layouts/Gallery.astro";
---

<Layout
title="Casts for pet preservation and pet taxidermy"
description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy."
>
  <p slot="title">Casts</p>
  <p slot="subtitle">
    Inorganic and lifelike, casts use alternative materials to commemorate your
    beloved.
  </p>
  <p slot="description">
    Casts allow families to honor the memory of a loved pet without the
    preservation of their original fur or bones. Instead, alternative materials
    are used to accurately and intimately represent your pet's nose, paws, or
    other preferred aspect from life.
  </p>
  <LightboxImage
    imagePath="/src/images/casts/casts_completedog.jpg"
    altText="Full body cast of Chihuahua on sculptural base"
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_facecat.jpg"
    altText="Face cast with Sphinx cat"
    height="1200"
    width="960"
  />
  <LightboxImage
  imagePath="/src/images/casts/casts_pawsdogwhippetyellow.jpg"
  altText="Paw casts with Whippet"
  height="1200"
  width="837"
/>
<LightboxImage
imagePath="/src/images/casts/casts_nosesthree.jpg"
altText="Three dog nose casts"
height="1200"
width="960"
/>


  <LightboxImage
    imagePath="/src/images/casts/casts_pawcathand.jpg"
    altText="Sphinx cat paw cast"
    height="1200"
    width="960"
  />

  <LightboxImage
    imagePath="/src/images/casts/casts_pawdogblackstand.jpg"
    altText="Paw cast with Great Dane on black stand"
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawdogwhitedown.jpg"
    altText="Two paw casts with hairless dog, facing down"
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawprintpallete.jpg"
    altText="Paw imprint in clay keepsake"
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawsnosemarble.jpg"
    altText="3D paw print and nose cast with dog"
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/casts/casts_pawwhitedoghand.jpg"
    altText="Paw cast with hairless dog"
    height="1200"
    width="960"
  />
  <LightboxImage
  imagePath="/src/images/casts/casts_pawdogblack.jpg"
  altText="Paw cast with Great Dane"
  height="1200"
  width="960"
/>
<LightboxImage
imagePath="/src/images/casts/casts_iguana.jpg"
altText="Cast of iguana foot"
height="1200"
width="900"
/>
  <LightboxImage
    imagePath="/src/images/casts/casts_pawwhitedogup.jpg"
    altText="Two paw casts with hairless dog, highlighting toe beans"
    height="1200"
    width="960"
  />
</Layout>
