---
layout: base
title: Contact
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /contact.html
---
  <!-- Header -->
  <div class="container py-5 py-md-6 text-dark">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-3">Contact us</h1>
        <div class="border border-2 border-dark w-15 my-4"></div>
        <p class="lead mb-4">To learn more or discuss completing a preservation for your pet, please use the contact form below or contact us directly by voice or text at 909-553-1999.</p>
      </div>
    </div>
  </div>

  <!-- Form -->
  <div class="bg-white text-black">
    <div class="container py-3">
      <div class="bg-white mt-n5 mt-md-n6 px-3 px-md-0">
        <div class="row justify-content-center py-4 py-lg-5">
          <div class="col-md-10 col-lg-8">
            <p>Fields marked with an <span class="text-secondary">*</span> are required.</p>
            <form class = "py-3" action="https://formspree.io/f/moqbgqqj" method="POST">
              <div class="mb-4">
                <label for="full-name" class="form-label">Name <span class="text-secondary">*</span></label>
                <input type="text" name = "Name" class="form-control" id="full-name" placeholder="Enter your name" required>
              </div>
              <div class="mb-4">
                <label for="email-address" class="form-label">Email <span class="text-secondary">*</span></label>
                <input type="email" name = "Email" class="form-control" id="email-address" placeholder="Enter your email address" required>
              </div>
              <div class="mb-4">
                <label for="message" class="form-label">Message <span class="text-secondary">*</span></label>
                <textarea class="form-control" name = "Message" id="message" rows="9" placeholder="Enter your message" required></textarea>
              </div>
              <input type="text" name="_gotcha" style="display:none" />
              <button type="submit" class="btn btn-pill btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
