---
import Layout from "../layouts/BaseNoCTA.astro";
---

<Layout
  title="Contact us to learn more about pet aftercare, preservation, and taxidermy"
  description="For more information on our taxidermy services, please use this contact form."
>
  <div class="px-1 sm:px-20 md:pb-12 lg:px-40 xl:px-72 xl:pt-5">
    <div class="pt-4 font-display text-4xl font-bold lg:pt-10 lg:text-6xl">
      Contact us
    </div>
    <div class="pt-4 text-lg lg:text-xl">
      To discuss how we can best support you and your pet, please complete the
      contact form below.
    </div>
  </div>
  <div class="px-1 sm:px-20 md:pb-12 lg:px-40 xl:px-72 xl:pt-5">
    <div
      class="mx-3 mt-4 rounded-3xl border border-tan bg-tan/80 lg:border-gray-400"
    >
      <div class="mt-5 grid grid-cols-1 gap-6 px-4 lg:px-14 lg:py-2">
        <form
          name="contact"
          action="/success"
          method="POST"
          data-netlify="true"
        >
          <div class="block">
            <label for="name">
              <span class="font-sans text-lg font-bold">Full Name</span><span
                class="pl-2 text-xs">required</span
              >
            </label>
            <input
              id="name"
              name="name"
              placeholder="First and Last"
              type="text"
              required="required"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 focus:bg-white lg:mb-8"
            />
          </div>
          <div class="block">
            <label for="petname" class="font-sans text-lg font-bold">
              Pet's Name
            </label>
            <input
              id="petname"
              name="petname"
              type="text"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 focus:bg-white lg:mb-8"
            />
          </div>
          <div class="block">
            <label for="email" class="font-sans text-lg font-bold">
              <span class="font-sans text-lg font-bold">Email</span><span
                class="pl-2 text-xs font-normal">required</span
              >
            </label>
            <input
              id="text"
              name="text"
              placeholder="email@domain.tld"
              type="text"
              required="required"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 focus:bg-white lg:mb-8"
            />
          </div>
          <div class="block">
            <label for="phone" class="font-sans text-lg font-bold">
              Phone
            </label>
            <input
              id="phone"
              name="phone"
              placeholder="555-555-5555"
              type="text"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 font-numbers focus:bg-white lg:mb-8"
            />
          </div>
          <div class="block">
            <label for="location" class="font-sans text-lg font-bold">
              <p>Location</p>
            </label>
            <select
              id="location"
              name="location"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 text-sm focus:bg-white lg:mb-8"
            >
              <option selected>Choose...</option>
              <option value="Alabama">Alabama</option>
              <option value="Alaska">Alaska</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Arizona">Arizona</option>
              <option value="Arkansas">Arkansas</option>
              <option value="California">California</option>
              <option value="Colorado">Colorado</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Delaware">Delaware</option>
              <option value="District of Columbia">District of Columbia</option>
              <option value="Florida">Florida</option>
              <option value="Georgia">Georgia</option>
              <option value="Guam">Guam</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Idaho">Idaho</option>
              <option value="Illinois">Illinois</option>
              <option value="Indiana">Indiana</option>
              <option value="Iowa">Iowa</option>
              <option value="Kansas">Kansas</option>
              <option value="Kentucky">Kentucky</option>
              <option value="Louisiana">Louisiana</option>
              <option value="Maine">Maine</option>
              <option value="Maryland">Maryland</option>
              <option value="Massachusetts">Massachusetts</option>
              <option value="Michigan">Michigan</option>
              <option value="Minnesota">Minnesota</option>
              <option value="Minor Outlying Islands"
                >Minor Outlying Islands</option
              >
              <option value="Mississippi">Mississippi</option>
              <option value="Missouri">Missouri</option>
              <option value="Montana">Montana</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Nevada">Nevada</option>
              <option value="New Hampshire">New Hampshire</option>
              <option value="New Jersey">New Jersey</option>
              <option value="New Mexico">New Mexico</option>
              <option value="New York">New York</option>
              <option value="North Carolina">North Carolina</option>
              <option value="North Dakota">North Dakota</option>
              <option value="Northern Mariana Islands"
                >Northern Mariana Islands</option
              >
              <option value="Ohio">Ohio</option>
              <option value="Oklahoma">Oklahoma</option>
              <option value="Oregon">Oregon</option>
              <option value="Pennsylvania">Pennsylvania</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Rhode Island">Rhode Island</option>
              <option value="South Carolina">South Carolina</option>
              <option value="South Dakota">South Dakota</option>
              <option value="Tennessee">Tennessee</option>
              <option value="Texas">Texas</option>
              <option value="U.S. Virgin Islands">U.S. Virgin Islands</option>
              <option value="Utah">Utah</option>
              <option value="Vermont">Vermont</option>
              <option value="Virginia">Virginia</option>
              <option value="Washington">Washington</option>
              <option value="West Virginia">West Virginia</option>
              <option value="Wisconsin">Wisconsin</option>
              <option value="Wyoming">Wyoming</option>
              <option value="INTERNATIONAL">INTERNATIONAL</option>
            </select>
          </div>
          <div class="block">
            <label for="pettype" class="font-sans text-lg font-bold">
              What type of pet do you have?
            </label>
            <select
              id="pettype"
              name="pettype"
              required="required"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 text-sm focus:bg-white lg:mb-8"
            >
              <option selected>Choose...</option>
              <option value="cat">Cat</option>
              <option value="dog">Dog</option>
              <option value="other">Something else</option>
            </select>
          </div>
          <div class="block">
            <label for="services" class="font-sans text-lg font-bold">
              Are there any specific services that you'd like to discuss?
            </label>
            <input
              id="services"
              name="services"
              type="text"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 focus:bg-white lg:mb-8"
            />
          </div>
          <div class="block">
            <label for="weight" class="font-sans text-lg font-bold">
              What is your pet's weight in pounds?
            </label>
            <input
              id="weight"
              name="weight"
              placeholder="lbs (an estimate is fine)"
              type="text"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 focus:bg-white lg:mb-8"
            />
          </div>
          <div class="block">
            <label for="comments" class="font-sans text-lg font-bold">
              If there's any additional information you'd like to provide,
              please do so here.
            </label>
            <input
              id="comments"
              name="comments"
              type="text"
              class="-ml-1 mb-5 mt-1 block w-full rounded-md border-transparent bg-gray-100 p-1 focus:bg-white lg:mb-8"
            />
          </div>
          <div class="block pb-4">
            <p class="pb-3">
              By submitting this form, you agree to our <a
                href="/privacypolicy"
                class="font-bold">Privacy Policy</a
              >.
            </p>
            <button type="submit" class="btn text-xl">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</Layout>
