---
layout: content
title: Burial, cremation, and aquamation aftercare for your deceased pet
description: Precious Creature offers a number of options for caring for your pet's body after death, including burial, cremation, and aquamation.
permalink: /cremation.html
---
    
  <!-- Header -->
  <div class="container py-5 text-dark">
    <h1 class="display-3"><div class="text-danger">Cremation and Burial</div></h1>
    <div class="border border-5 border-dark w-15 mb-4"></div>
    <div class="row">
      <div class="col">
        <p class="lead">The decision of how to honor the body of your passed loved one is a deeply personal one.</p><p>Whether you have chosen a preservation method for your pet like bone cleaning or taxidermy, or you are simply looking for a way to honor the body of your passed loved one, you have a number of choices you can make regarding the final disposition of your pet's body. We highlight those that we offer or facilitate below.</p>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="container pb-5">
    <div class="row gy-4 row-cols-1 row-cols-xl-4 g-4">
      <div class="col">
        <div class="card rounded bg-warning h-100">
          <img src="{{ root }}assets/img/burial/burial1thumb.jpg" class="card-img-top" alt="Painting of people riding horses next to grassy hills and circular arrangements of skulls">
          <div class="card-body">
            <h3 class="card-title text-black text-center">Burial</h5>
            <p class="card-text text-black">Precious Creature owns ten remote acres of desert land which can serve as the resting place for your pet's body. It would be our honor to host formal services for you, or we can respectfully complete the burial in your absence.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded bg-warning h-100">
          <img src="{{ root }}assets/img/burial/fire1thumb.jpg" class="card-img-top" alt="Painting of a indoor fireplace with smoke rising from it">
          <div class="card-body">
            <h3 class="card-title text-black text-center">Cremation</h5>
            <p class="card-text text-black">The traditional burning of a deceased's remains results in ashes that you can then spread or house in an urn or other vessel. We have collected a number of antique vessels for your consideration.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded bg-warning h-100">
          <img src="{{ root }}assets/img/burial/water1thumb.jpg" class="card-img-top" alt="Painting of a river leading into a lake with a tree nearby">
          <div class="card-body">
            <h3 class="card-title text-black text-center">Aquamation</h5>
            <p class="card-text text-black">Gentler on the body and kinder for the earth, aquamation is a popular choice for handling a deceased's remains which still results in material you can spread or preserve in your home.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded bg-warning h-100">
          <img src="{{ root }}assets/img/burial/chapel1thumb.jpg" class="card-img-top" alt="Painting of a church surrounded by cypress trees">
          <div class="card-body">
            <h3 class="card-title text-black text-center">Ossuary</h5>
            <p class="card-text text-black">We are currently constructing an ossuary or "bone temple" on our desert land to house and honor the bones of deceased pets. Although not yet built, we are able to discuss preparations for the ossuary.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
