---
layout: content
title: FAQ on pet preservation and pet taxidermy
description: FAQ - Common questions and answers about pet preservation and pet taxidermy
permalink: /faq.html
---
  <!-- Header -->
  <div class="container py-5 py-md-6 text-dark">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-3"><div class="text-danger">FAQ</div></h1>
        <div class="border border-2 border-dark w-15 my-4"></div>
        <p class="lead mb-4">Common questions answered.</p>
      </div>
    </div>
  </div>

  <div class="bg-success text-black">
    <div class="container">
      <div class="bg-light mt-n5 mt-lg-n6 px-3 px-lg-0">
        <div class="row justify-content-center py-4 py-md-5">
          <div class="col-md-10 col-lg-8">
            {% renderFile "./src/content/faq_content.md" %}
          </div>
        </div>
      </div>
    </div>
  </div>