---
layout: content
title: Complete and full body pet preservation and pet taxidermy
description: Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.
permalink: /full.html
---
    
  <!-- Header -->
  <div class="container py-5 text-dark">

    <div class="row">
      <div class="col">
        <h1 class="display-2"><div class="text-danger">Complete taxidermy</div></h1> 
        <p class="lead text-danger">Sculptural and emotive, complete taxidermy preserves your pet's entire body to cherish forever.</p> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>The complete preservation of your pet's body serves as a remarkable memorial to their life and dignity. Although taxidermy encompasses a wide array of practices, complete or full-body taxidermy is likely the most recognizable form of the medium, and one that is both arresting in its accuracy and breathtaking in its connection to your beloved. As is true for any service we provide, consultation with you is key to understanding the thought, pose, and details necessary for a complete preservation and memorial to your loved one that will last a lifetime.</p>
      </div>
    </div>

    <!-- Gallery -->
    <div class="row row-cols-lg-3 row-cols-2">
      {% imgGallery "assets/img/full/full1.webp", "Full taxidermy of a small dog looking proud, with a live dog looking at it", "full" %}
      {% imgGallery "assets/img/full/full2.webp", "Full taxidermy of a guinea pig in front of a plant", "full" %}
      {% imgGallery "assets/img/full/full3.webp", "Full taxidermy of a dog, with their face being cupped by a person's hand", "full" %}
      {% imgGallery "assets/img/full/full4.webp", "Full taxidermy of a hedgehog, rolled up and facing upwards", "full" %}
      {% imgGallery "assets/img/full/full5.webp", "Full taxidermy of a rabbit lying on its side", "full" %}
      {% imgGallery "assets/img/full/full6.webp", "Woman with gray hair, gold jewelry, and tattoos looking serious as she holds a taxidermied cat", "full" %}
    </div>
  
  </div>