---
import LightboxImage from "../components/LightboxImage.astro";
import Layout from "../layouts/Gallery.astro";
---

<Layout
  title="Complete and full body pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy."
>
  <p slot="title">Taxidermy</p>
  <p slot="subtitle">
    Sculptural and emotive, taxidermy preserves your pet's body to cherish
    forever.
  </p>
  <p slot="description">
    The preservation of your pet's body serves as a remarkable memorial to their
    life and dignity. Although taxidermy encompasses a wide array of practices
    including paw preservation, complete or full-body taxidermy is likely the
    most recognizable form of the medium, and one that is both arresting in its
    accuracy and breathtaking in its connection to your beloved. As is true for
    any service we provide, consultation with you is key to understanding the
    thought, pose, and details necessary for a memorial to your loved one that
    will last a lifetime.
  </p>
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_sleepingcat1.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_blackpaws.jpg"
    altText=""
    height="1200"
    width="959"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_catandwoman.jpg"
    altText=""
    height="695"
    width="556"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fulldoginside.jpg"
    altText=""
    height="1200"
    width="960"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_pawcatkey.jpg"
    altText=""
    height="1200"
    width="1021"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_dogbedeyesclosed.jpg"
    altText=""
    height="1024"
    width="1024"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fullhamster.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_dogfaceheld.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fullcatsleepingcurled.jpg"
    altText=""
    height="1043"
    width="1024"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_dogandting.jpg"
    altText=""
    height="1200"
    width="960"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_pawflowers.jpg"
    altText=""
    height="1200"
    width="960"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_dogtongue.jpg"
    altText=""
    height="1024"
    width="1024"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_tailstriped.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_chinchi.jpg"
    altText=""
    height="1200"
    width="960"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_catpawlarge.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fulldogsleepabove.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_pawvial.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fulldogsleepingcandles.jpg"
    altText=""
    height="1200"
    width="900"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_pawribbon.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_glider.jpg"
    altText=""
    height="959"
    width="767"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fullcatsleepingmouse.jpg"
    altText=""
    height="1024"
    width="1024"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_guineapig.jpg"
    altText=""
    height="886"
    width="709"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fulldogtorso.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_hedgehog.jpg"
    altText=""
    height="1200"
    width="960"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_pawcatribbonblack.jpg"
    altText=""
    height="1200"
    width="900"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_rabbit.jpg"
    altText=""
    height="960"
    width="768"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_sleepingcat2.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_tailnecklace.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_pawonantler.jpg"
    altText=""
    height="1200"
    width="963"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_tailornament.jpg"
    altText=""
    height="1200"
    width="960"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fulldogsidetongue1.jpg"
    altText=""
    height="1024"
    width="1024"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fullratback.jpg"
    altText=""
    height="1024"
    width="1024"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fullrattop.jpg"
    altText=""
    height="1024"
    width="1135"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_pawdoggoldribbon.jpg"
    altText=""
    height="1200"
    width="960"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fulldogfrontchi.jpg"
    altText=""
    height="1024"
    width="1025"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fulldogsidetonguechi.jpg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fulldogsleepingminpin.jpg"
    altText=""
    height="821"
    width="1200"
  />

  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fullhedgeback.jpg"
    altText=""
    height="1024"
    width="1024"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fullhedgeside.jpg"
    altText=""
    height="1024"
    width="1024"
  />
  <LightboxImage
    imagePath="/src/images/taxidermy/taxidermy_fullrabbitredribbon.jpg"
    altText=""
    height="1024"
    width="1024"
  />
</Layout>
