---
import LightboxImage from '..//components/LightboxImage.astro';
import Layout from "..//layouts/Gallery.astro";
---
<Layout>
  <p slot="title">Taxidermy</p>
  <p slot="subtitle">Sculptural and emotive, taxidermy preserves your pet's body to cherish forever.</p>
  <p slot="description">The preservation of your pet's body serves as a remarkable memorial to their life and dignity. Although taxidermy encompasses a wide array of practices including paw preservation, complete or full-body taxidermy is likely the most recognizable form of the medium, and one that is both arresting in its accuracy and breathtaking in its connection to your beloved. As is true for any service we provide, consultation with you is key to understanding the thought, pose, and details necessary for a memorial to your loved one that will last a lifetime.</p>
  <LightboxImage url="../images/taxidermy/taxidermy_guineapig.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_hedgehog.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_pawflowers.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_pawonantler.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_pawribbon.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_pawvial.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_rabbit.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_sleepingcat1.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_sleepingcat2.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_tailnecklace.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_tailornament.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_tailstriped.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_blackpaws.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_catandwoman.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_catpawlarge.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_chinchi.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_dogandting.jpg" caption="" />
  <LightboxImage url="../images/taxidermy/taxidermy_dogfaceheld.jpg" caption="" />
  
</Layout>
