---
layout: content
title: Complete and full body pet preservation and pet taxidermy
description: Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.
permalink: /full.html
---
    
  <!-- Header -->
  <div class="container pt-5 text-dark">

    <div class="row">
      <div class="col">
        <h1 class="display-2"><div class="text-danger">Taxidermy</div></h1> 
        <p class="lead text-danger">Sculptural and emotive, taxidermy preserves your pet's body to cherish forever.</p> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>The preservation of your pet's body serves as a remarkable memorial to their life and dignity. Although taxidermy encompasses a wide array of practices including paw preservation, complete or full-body taxidermy is likely the most recognizable form of the medium, and one that is both arresting in its accuracy and breathtaking in its connection to your beloved. As is true for any service we provide, consultation with you is key to understanding the thought, pose, and details necessary for a memorial to your loved one that will last a lifetime.</p>
      </div>
    </div>

    <!-- Gallery -->
    <div class="row row-cols-lg-3 row-cols-2">
      {% imgGallery "taxi11.webp", "Two preserved dog paws with ribbon", "taxi" %}
      {% imgGallery "taxi8.webp", "Preserved cat's paw with leather cording and daffodils surrounding it", "taxi" %}
      {% imgGallery "taxi9.webp", "Preserved cat's tail looping next to a preserved fur patch", "taxi" %}
      {% imgGalleryBelowFold "taxi12.webp", "Preserved dog paw with ribbon on top of an antler", "taxi" %}
      {% imgGalleryBelowFold "taxi13.webp", "Cat's tail fashioned into a necklace and tied with leather cord", "taxi" %}
      {% imgGalleryBelowFold "taxi14.webp", "Preserved cat's paw with ribbon", "taxi" %}
      {% imgGalleryBelowFold "taxi15.webp", "Two preserved cats' paws and a vial of cat hair", "taxi" %}
      {% imgGalleryBelowFold "taxi1.webp", "Full taxidermy of a small dog looking proud, with a live dog looking at it", "taxi" %}
      {% imgGalleryBelowFold "taxi_sleepingcat1.webp", "", "taxi" %}
      {% imgGalleryBelowFold "taxi3.webp", "Full taxidermy of a dog, with their face being cupped by a person's hand", "taxi" %}
      {% imgGalleryBelowFold "taxi4.webp", "Full taxidermy of a hedgehog, rolled up and facing upwards", "taxi" %}
      {% imgGalleryBelowFold "taxi5.webp", "Full taxidermy of a rabbit lying on its side", "taxi" %}
      {% imgGalleryBelowFold "taxi6.webp", "Woman with gray hair, gold jewelry, and tattoos looking serious as she holds a taxidermied cat", "taxi" %}
      {% imgGalleryBelowFold "taxi_chinchi.webp", "", "taxi" %}
      {% imgGalleryBelowFold "taxi2.webp", "Full taxidermy of a guinea pig in front of a plant", "taxi" %}
      {% imgGalleryBelowFold "taxi_sleepingcat2.webp", "", "taxi" %}

    </div>
  
  </div>