---
import LightboxImage from '../components/LightboxImage.astro';
import Layout from "../layouts/Gallery.astro";
---
<Layout>
  <p slot="title">Coat</p>
  <p slot="subtitle">Using only fur clippings, you can have a memorial of your pet to touch and cherish.</p>
  <p slot="description">Coat preservation is one of the most versatile methods of preserving and remembering your pet. Families choose to remember their pets through shaped fur; paw, tail, or complete pelt preservation; whisker and fur clippings; and felted balls.</p>
  <LightboxImage url="../images/cdn/coat/coat_akita.jpg" caption="Akita's pelt with a focus on the face" />
  <LightboxImage url="../images/cdn/coat/coat_ballneedles.jpg" caption="Three felted hair balls with needles in the foreground" />
  <LightboxImage url="../images/cdn/coat/coat_ballornament.jpg" caption="" />
  <LightboxImage url="../images/cdn/coat/coat_ballsorangeblack.jpg" caption="" />
  <LightboxImage url="../images/cdn/coat/coat_blackpoof.jpg" caption="" />
  <LightboxImage url="../images/cdn/coat/coat_drape.jpg" caption="" />
  <LightboxImage url="../images/cdn/coat/coat_heart.jpg" caption="" />
  <LightboxImage url="../images/cdn/coat/coat_heartblack.jpg" caption="" />
  <LightboxImage url="../images/cdn/coat/coat_orangeinframe.jpg" caption="" />
  <LightboxImage url="../images/cdn/coat/coat_tinyball.jpg" caption="" />
</Layout>
