---
import Layout from "../layouts/Base.astro";
import LineFancy from "../components/LineFancy.astro";

import { Image, getImage } from "astro:assets";
import image from "/src/images/coat/coat_akita.jpg";

const optimizedImage = await getImage({ src: image, width: 960 });

---

<Layout
  title="Fur for pet preservation and pet taxidermy"
  description="Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.">

  <div class="lg:flex lg:flex-col">
    <div
      class="px-4 pt-4 font-display text-4xl font-bold lg:px-24 lg:pt-8 lg:text-6xl"
    >
    Coat
    </div>
    <div class="justify-left flex items-center pl-4 pt-2 lg:hidden">
      <LineFancy width="40%" />
    </div>
    <div class="hidden lg:mx-20 lg:flex lg:pl-4 lg:pt-3">
      <LineFancy width="30%" />
    </div>
    <div class="px-4 pt-4 font-display text-lg lg:px-24 lg:pt-6">
      By preserving your companion's coat, you can have a memorial of them to
    touch and cherish.
    </div>
    <div class="px-4 pt-4 lg:px-24 lg:pt-2">
      Coat preservation is one of the most versatile methods of preserving and
      remembering your pet. Families choose to remember their pets through shaped
      fur; paw, tail, or complete pelt preservation; whisker and fur clippings;
      and felted balls.
      </div>
    </div>

    
<div id="gallery">
  <a
      href={optimizedImage.src}
      data-pswp-width={optimizedImage.attributes.width}
      data-pswp-height={optimizedImage.attributes.height}
      target="_blank"
  >
      <Image src={image} alt={"alt"} height={350} />
  </a>
</div>


<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  let lightbox: PhotoSwipeLightbox;

  document.addEventListener("astro:page-load", () => {
      lightbox = new PhotoSwipeLightbox({
          gallery: "#gallery",
          children: "a",
          pswpModule: () => import("photoswipe"),
      });

      lightbox.init();
  });

  document.addEventListener("astro:before-swap", () => {
      lightbox.destroy();
  });
</script>


</Layout>
