---
layout: content
title: Fur for pet preservation and pet taxidermy
description: Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.
permalink: /fur.html
---
    
  <!-- Header -->
  <div class="container pt-5 text-dark">

    <div class="row">
      <div class="col">
        <h1 class="display-2"><div class="text-danger">Coat</div></h1> 
        <p class="lead text-danger">Using only fur clippings, you can have a memorial of your pet to touch and cherish.</p> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Coat preservation is one of the most versatile methods of preserving and remembering your pet. Families choose to remember their pets through shaped fur; paw, tail, or complete pelt preservation; whisker and fur clippings; and felted balls.</p>
      </div>
    </div>

    <!-- Gallery -->
    <div class="row row-cols-lg-3 row-cols-2">
      {% imgGallery "fur8.webp", "Heart-shaped fur preservation with flowers arranged around it", "fur" %}
      {% imgGallery "fur_drape.webp", "", "fur" %}
      {% imgGallery "fur5.webp", "Three felted hair balls with needles in the foreground", "fur" %}
      {% imgGalleryBelowFold "fur_orangeinframe.webp", "", "fur" %}
      {% imgGalleryBelowFold "fur1.webp", "Akita's pelt with a focus on the face", "fur" %}
      {% imgGalleryBelowFold "fur3.webp", "Two heart-shaped fur preservations with some sage off to the side", "fur" %}
      {% imgGalleryBelowFold "fur10.webp", "Four preserved hair spheres", "fur" %}
      {% imgGalleryBelowFold "fur_blackpoof.webp", "", "fur" %}
      {% imgGalleryBelowFold "fur_tailornament.webp", "", "fur" %}
      {% imgGalleryBelowFold "fur_tinyball.webp", "", "fur" %}
    </div>
  
  </div>