---
layout: content
title: Fur for pet preservation and pet taxidermy
description: Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.
permalink: /fur.html
---
    
  <!-- Header -->
  <div class="container pt-5 text-dark">

    <div class="row">
      <div class="col">
        <h1 class="display-2"><div class="text-danger">Fur</div></h1> 
        <p class="lead text-danger">Using only fur clippings, you can have a memorial of your pet to touch and cherish.</p> 
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Fur preservation is one of the most versatile methods of preserving and remembering your pet. Families choose to remember their pets through shaped fur; paw, tail, or complete pelt preservation; whisker and fur clippings; felted balls; and leather-free coat preservation.</p>
      </div>
    </div>

    <!-- Gallery -->
    <div class="row row-cols-lg-3 row-cols-2">
      {% imgGallery "fur8.webp", "Heart-shaped fur preservation with flowers arranged around it", "fur" %}
      {% imgGallery "fur_drape.webp", "", "fur" %}
      {% imgGallery "fur5.webp", "Three felted hair balls with needles in the foreground", "fur" %}
      {% imgGallery "fur_orangeinframe.webp", "", "fur" %}
      {% imgGallery "fur2.webp", "Two preserved dog paws with ribbon", "fur" %}
      {% imgGallery "fur1.webp", "Akita's pelt with a focus on the face", "fur" %}
      {% imgGallery "fur3.webp", "Two heart-shaped fur preservations with some sage off to the side", "fur" %}
      {% imgGallery "fur4.webp", "Preserved dog paw with ribbon on top of an antler", "fur" %}
      {% imgGallery "fur6.webp", "Cat's tail fashioned into a necklace and tied with leather cord", "fur" %}
      {% imgGallery "fur7.webp", "Preserved cat's paw with ribbon", "fur" %}
      {% imgGallery "fur9.webp", "Two preserved cats' paws and a vial of cat hair", "fur" %}
      {% imgGallery "fur10.webp", "Four preserved hair spheres", "fur" %}
      {% imgGallery "fur11.webp", "Preserved cat's paw with leather cording and daffodils surrounding it", "fur" %}
      {% imgGallery "fur12.webp", "Preserved cat's tail looping next to a preserved fur patch", "fur" %}
      {% imgGallery "fur13.webp", "Hair ornament hanging from ribbon", "fur" %}
      {% imgGallery "fur_blackpoof.webp", "", "fur" %}
      {% imgGallery "fur_tailornament.webp", "", "fur" %}
      {% imgGallery "fur_tinyball.webp", "", "fur" %}
    </div>
  
  </div>