---
import LightboxImage from '../components/LightboxImage.astro';
import Layout from "../layouts/Gallery.astro";
---
<Layout>
  <p slot="title">Copyright 2022</p>
      <LightboxImage url="../images/cdn/coat/coat_akita.jpg" caption="Akita's pelt with a focus on the face" />
      <LightboxImage url="../images/cdn/coat/coat_ballneedles.jpg" caption="Three felted hair balls with needles in the foreground" />
      <LightboxImage url="../images/cdn/coat/coat_ballornament.jpg" caption="" />
      <LightboxImage url="../images/cdn/coat/coat_ballsorangeblack.jpg" caption="" />
      <LightboxImage url="../images/cdn/coat/coat_blackpoof.jpg" caption="" />
      <LightboxImage url="../images/cdn/coat/coat_drape.jpg" caption="" />
      <LightboxImage url="../images/cdn/coat/coat_heart.jpg" caption="" />
      <LightboxImage url="../images/cdn/coat/coat_heartblack.jpg" caption="" />
      <LightboxImage url="../images/cdn/coat/coat_orangeinframe.jpg" caption="" />
      <LightboxImage url="../images/cdn/coat/coat_tinyball.jpg" caption="" />
</Layout>
