---
import LightboxImage from "../components/LightboxImage.astro";
import Layout from "../layouts/Gallery.astro";
---

<Layout>
  <p slot="title">Coat</p>
  <p slot="subtitle">
    Using only fur clippings, you can have a memorial of your pet to touch and
    cherish.
  </p>
  <p slot="description">
    Coat preservation is one of the most versatile methods of preserving and
    remembering your pet. Families choose to remember their pets through shaped
    fur; paw, tail, or complete pelt preservation; whisker and fur clippings;
    and felted balls.
  </p>
  <LightboxImage
    imagePath="/src/images/coat/coat_akita.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_ballneedles.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_ballornament.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_ballsorangeblack.jpg"
    altText=""
    height="1200"
    width="959"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_blackpoof.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_drape.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_heart.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_heartblack.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_orangeinframe.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_tinyball.jpg"
    altText=""
    height="1200"
    width="960"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_birdalljarvialsbox.jpeg"
    altText=""
    height="900"
    width="1200"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_feathersvials.jpeg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_feathersvialsbox.jpeg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_feltedballscord.jpeg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_fullcatboxskull.jpeg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_heartbrownwhite.jpeg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_puffcherub.jpeg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_tuftwhitegrey.jpeg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_vialsmusicbones.jpeg"
    altText=""
    height="1200"
    width="900"
  />
  <LightboxImage
    imagePath="/src/images/coat/coat_vialsmusicbonestable.jpeg"
    altText=""
    height="1200"
    width="900"
  />
</Layout>
