---
layout: content
title: Coping with the loss of a pet
description: A guide to grief, coping, and surviving this moment following the loss of your beloved pet.
permalink: /grief.html
---
  <!-- Header -->
  <div class="container py-5 py-md-6 text-dark">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-4"><div class="text-danger">Modern mourning</div></h1>
        <div class="border border-2 border-dark w-15 my-4"></div>
        <p class="lead mb-4 text-danger">A guide to grief and surviving this moment.</p>
      </div>
    </div>
  </div>

  <div class="bg-success text-black">
    <div class="container py-3">
      <div class="bg-light mt-n5 mt-lg-n6 px-3 px-lg-0">
        <div class="row justify-content-center py-4 py-md-5">
          <div class="col-md-10 col-lg-8">
            {% renderFile "./src/content/grief.md" %}
          </div>
        </div>
      </div>
    </div>
  </div>