---
import Layout from "../layouts/Base.astro";
import '../styles/index.css';
---

<Layout title="Precious Creature - Pet Aftercare, Pet Taxidermy, and Pet Preservation">
	<main class="flex bg-doglady flex-col grow bg-center bg-cover">
      <div class="flex justify-center items-center">
		    <img class="w-5/6 rounded-lg mt-2" src="/images/full/cover1.webp">
      </div>
      <div>
        <p class="font-display text-4xl py-4 px-4"><strong>Honoring your companion.</strong></p>
      </div>
	</main>
</Layout>
