---
layout: base
title: Pet Aftercare
description: Precious Creature is a pet aftercare taxidermy service in California.
permalink: /indexprevious.html
---
  <!-- Header -->
  <div class="container pt-5 pt-md-6 pb-4 pb-md-4 text-black">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h1 class="display-6">Remember your pet, your way.</h1>
        <div class="border border-2 border-dark w-15 my-4"></div>
        <p class="lead mb-4">Pet aftercare, memorial, and preservation</p>
      </div>
    </div>
  </div>

  <div class="text-black">
    <div class="container py-3">
      <div class="mt-n5 mt-lg-n6 px-3 px-lg-0">
        <div class="row justify-content-center py-4 py-md-5">
          <div class="col-md-10 col-lg-8">
            <p class="fw-dark fs-5">At Precious Creature, our focus is on providing compassionate and judgement-free pet aftercare, memorial, and preservation.</p>
            <p>We strive to give comfort in the most trying time of pet companionship with our alternative and bespoke approach to caring for a deceased pet. We value and respect diverse approaches to memorializing a pet. No request is too unusual.</p>
            <figure class="img-overlay">
              <img src="assets/img/modern-room.jpg" alt="" class="img-fluid">
              <div class="img-hover">
                <div class="img-text">View our portfolio</div>
              </div>
            </figure>
            <h2 class="mt-4">Our story</h2>
            <p>Precious Creature is a full-time alternative pet aftercare business/passion located in the magical Mojave desert, just outside of Joshua Tree National Park in the city of Twentynine Palms. With a lifelong love of animals, art, and death care, owner and trained taxidermist Lauren Kane marries all three together to bring a renewed vision to pet aftercare.</p>
            <p>We are mostly a one-woman operation, but we also receive assistance from our lovely apprentice, Magnolia Mills, and our partnered colleagues at Paws and Claws Aquamation and Memorials, Gateway Pet Cemetery, and Valley Fur Shed Tannery. Lauren lives in a cozy desert neighborhood with her familiars, Laika, Mortimer, and Fiore. We're inspired by Victorian and world mourning practices, natural history, pets here and here no longer, and star-crossed souls.</p>
          </div>
        </div>
      </div>
    </div>
  </div>