---
layout: base
title: Pet Aftercare
description: Precious Creature is a pet aftercare taxidermy service in California.
permalink: /index.html
---
  <!-- Header -->
    <div class="container py-5 text-dark clearfix">
    <div class="col-xxl-10">
      <img src="{{ root }}assets/img/cover1.jpg" class="col-md-5 rounded-3 shadow-lg border float-md-end mb-3 ms-md-5" alt="...">
      <h1 class="display-5">Remember your pet, your way.</h1>
      <div class="border border-6 border-dark w-25 my-4"></div>
      <p class="font-serif lead mb-4">At Precious Creature, our focus is on providing compassionate and judgement-free pet aftercare, memorial, and preservation. </p>
      <p>We strive to give comfort in the most trying time of pet companionship with our alternative and bespoke approach to caring for a deceased pet. We value and respect diverse approaches to memorializing a pet. No request is too unusual.</p>
      <a href="{{ root }}contact.html" class="btn btn-primary">Contact us</a>
    </div>
  </div>