---
layout: base
title: Media
description: Precious Creature is a pet aftercare taxidermy service in California.
permalink: /media.html
---
  <!-- Header -->
  <div class="container py-5 py-md-6 text-dark">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-3">Our story</h1>
        <div class="border border-2 border-dark w-15 my-4"></div>
        <p class="lead mb-4">Precious Creature is one woman, three pets, a lot of help, and all love.</p>
      </div>
    </div>
  </div>

  <div class="bg-white text-black">
    <div class="container py-3">
      <div class="bg-white mt-n5 mt-lg-n6 px-3 px-lg-0">
        <div class="row justify-content-center py-4 py-md-5">
          <div class="col-md-10 col-lg-8">
            <img src="{{ root }}assets/img/lauren1.jpg" class="col-md-5 rounded-3 shadow-lg border float-md-end mb-3 ms-md-3" alt="...">
            {% renderFile "./src/content/about.md" %}
          </div>
        </div>
      </div>
    </div>
  </div>