---
layout: content
title: Interior Design
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /newpres.html
---
  <!-- Header -->
  <div class="bg-light bg-opacity-75">
    <div class="container text-center py-5 py-lg-6">
      <div class="col-lg-10 col-xxl-8 mx-auto">
        <h1 class="display-3 text-black mb-4">Fur</h1>
        <p class="lead text-dark mb-0">Our fur preservation methods focus on your companion's pelt and hair, helping you remember your loved one through touch just as much as sight. </p>
      </div>
    </div>
  </div>

  <!-- Projects -->
  <div class="text-dark">
    <div class="container pt-5 pt-lg-6 pb-3 pb-lg-4">
      <div class="row gx-xl-5">

        <div class="col-md-6">
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/focus/club-workspace.jpg"  alt="Black floor lamp on living room sofa" class="img-fluid mb-3" width="800" height="533">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="d-block link-dark stretched-link mb-1">Heart-shaped fur preservation</a>
              <div class="small text-primary">Classic</div>
            </figcaption>
          </figure>
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/focus/sofa-cat.jpg" alt="Brown and white wooden table beside sofa" class="img-fluid mb-3" width="800" height="533">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="d-block link-dark stretched-link mb-1">Full pelt preservation</a>
              <div class="small text-secondary">Modern</div>
            </figcaption>
          </figure>
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/focus/mens-closet.jpg" alt="Spacious mens closet with two beige chairs" class="img-fluid mb-3" width="800" height="1200">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="d-block link-dark stretched-link mb-1">Felted balls of fur</a>
              <div class="small text-secondary">Modern</div>
            </figcaption>
          </figure>
        </div>

        <div class="col-md-6">
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/fur/fur3.webp" alt="White steel chair in front round table" class="img-fluid mb-3" width="800" height="1200">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="d-block link-dark stretched-link mb-1">Heart-shaped fur preservation</a>
              <div class="small text-secondary">Minimalist</div>
            </figcaption>
          </figure>
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/focus/modern-kitchen.jpg" alt="Gray steel 3-door refrigerator near modular kitchen" class="img-fluid mb-3" width="800" height="531">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="d-block link-dark stretched-link mb-1">Modular Kitchen</a>
              <div class="small text-secondary">Modern</div>
            </figcaption>
          </figure>
          <figure class="img-rising position-relative mb-5">
            <img src="assets/img/focus/modern-room.jpg" alt="Room with black table lamp on nightstand" class="img-fluid mb-3" width="800" height="533">
            <figcaption class="h5 fw-normal">
              <a href="project-2.html" class="d-block link-dark stretched-link mb-1">Clean room</a>
              <div class="small text-secondary">Modern</div>
            </figcaption>
          </figure>
        </div>

      </div>
    </div>
  </div>

  <!-- Call to action -->
  <div class="text-bg-primary text-center">
    <div class="container py-5 py-lg-6">
      <h2>Newsletter subscription</h2>
      <p class="lead mb-4">Subscribe to our newsletter to receive news & updates</p>
      <form>
        <div class="row justify-content-center align-items-center g-2">
          <div class="col-md-4 col-xl-3">
            <label for="name" class="visually-hidden">First name</label>
            <input type="text" class="form-control border-0 fst-italic" id="name" placeholder="First name">
          </div>
          <div class="col-md-4 col-xl-3">
            <label for="email" class="visually-hidden">Email address</label>
            <input type="email" class="form-control border-0 fst-italic" id="email" placeholder="Email address">
          </div>
          <div class="col-md-auto">
            <button type="submit" class="btn btn-dark w-100">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
