---
layout: content
title: Options in pet preservation and pet taxidermy
description: Precious Creature offers a range of services including casts from your loved one's body, fur preservation, bone and skull preservation, and full pet taxidermy.
permalink: /preservation.html
---
    
  <!-- Header -->
  <div class="container py-5 text-dark">

    <div class="row">
      <div class="col">
        <h1 class="display-2"><div class="text-danger">Preservation</div></h1>  
        <p class="lead text-danger">We provide aftercare for the most challenging time in pet companionship.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Just as every individual and family's relationship with their pet is unique, so is our approach to understanding and supporting you. Whether you want to preserve your pet's memory with something as simple as a single bone preservation, or something as complex as full taxidermy, we look forward to talking to you about remembering your pet in the way that best honors their memory.</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>As you'll notice in the images below, families commonly combine services to find the best way to memorialize their pet, such as a combined bones, fur, and cast preservation. All images shown are projects that were completed by Precious Creature. They are presented here with the express permission of the loved one's family.</p>
      </div>
    </div>

  </div>


  <!-- Cards -->
  <div class="container mb-1">

    <div class="row gy-4 pb-1 row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col">
        <div class="card rounded bg-warning h-100" >
          {% imgSrc "fur1thumb.webp", "Akita's pelt with a focus on the face", "card-img-top" %}
          <div class="card-body">
            <h3 class="card-title text-black text-center">Fur</h5>
            <p class="card-text text-black">Versatile and intimate, the warmth of your pet's coat is a tangible memorial to hold and pet.</p>
            <div class="col text-center">
            <a class="btn btn-outline-info btn-primary btn-sm stretched-link text-black" href="{{ root }}fur" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded bg-warning h-100">
          {% imgSrc "bones1thumb.webp", "Dog's skull with a jar of bones and a plant in the background", "card-img-top" %}
          <div class="card-body">
            <h3 class="card-title text-black text-center">Bones</h5>
            <p class="card-text text-black">Revealing and elegant, bones tell the remarkable story of your loved one's life.</p>
            <div class="col text-center">
            <a class="btn btn-outline-info btn-primary btn-sm stretched-link text-black" href="{{ root }}bones" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded bg-warning h-100">
          {% imgSrc "cast1thumb.webp", "Cast of a large dog's paw being held by a person", "card-img-top" %}
          <div class="card-body">
            <h3 class="card-title text-black text-center">Casts</h5>
            <p class="card-text text-black">Inorganic and lifelike, casts use alternative materials to commemorate your beloved.</p>
            <div class="col text-center">
            <a class="btn btn-outline-info btn-primary btn-sm stretched-link text-black" href="{{ root }}casts" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card rounded bg-warning h-100">
          {% imgSrc "full1thumb.webp", "Taxidermied small dog, sitting up and looking proud", "card-img-top" %}
          <div class="card-body">
            <h3 class="card-title text-black text-center">Complete</h5>
            <p class="card-text text-black">Sculptural and emotive, complete taxidermy preserves your pet's entire body to cherish forever.</p>
            <div class="col text-center">
            <a class="btn btn-outline-info btn-primary btn-sm stretched-link text-black" href="{{ root }}full" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>