---
layout: base
title: Services
description: Focus is a clean portfolio theme for Bootstrap.
permalink: /services.html
---
    
  <!-- Header -->
  <div class="container py-1 py-lg-5 text-dark">
    <h1 class="display-3">Services</h1>
    <div class="border border-5 border-dark w-15 mb-4"></div>
    <div class="row">
      <div class="col-lg-10 col-xxl-8">
        <p class="lead">We provide aftercare for the most challenging time in pet companionship.</p>
        <p>Just as every individual and family's relationship with their pet is unique, so is our approach to understanding and supporting you. Whether you want something as simple as cremation, or something as complex as full taxidermy, we look forward to talking to you about remembering your pet, your way. Families commonly combine services to find the best way to memorialize their pet. Learn more about your choices in aftercare below.</p>
      </div>
    </div>
  </div>

  <!-- Cards -->
  <div class="container mb-4">
    <div class="row gy-4 pb-5 pb-lg-6 row-cols-4 row-cols-md-4 g-4">
      <div class="col-sm">
        <div class="card rounded bg-secondary h-100" >
          <img src="{{ root }}assets/img/fur/fur1thumb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-light text-center">Fur</h5>
            <p class="card-text text-light">Versatile and intimate, the warmth of your pet's coat is a tangible memorial to hold and pet.</p>
            <div class="col text-center">
            <a class="btn btn-outline-light btn-sm stretched-link" href="#" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card rounded bg-secondary h-100">
          <img src="{{ root }}assets/img/bones/bones1thumb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-light text-center">Bones</h5>
            <p class="card-text text-light">Revealing and elegant, bones tell the remarkable story of your loved one's life.</p>
            <div class="col text-center">
            <a class="btn btn-outline-light btn-sm stretched-link" href="#" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card rounded bg-secondary h-100">
          <img src="{{ root }}assets/img/casts/cast1thumb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-light text-center">Casts</h5>
            <p class="card-text text-light">Inorganic and lifelike, casts use alternative materials to commemorate your beloved.</p>
            <div class="col text-center">
            <a class="btn btn-outline-light btn-sm stretched-link" href="#" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
            <div class="col-sm">
        <div class="card rounded bg-secondary h-100">
          <img src="{{ root }}assets/img/full/full1thumb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title text-light text-center">Complete</h5>
            <p class="card-text text-light">Sculptural and emotive, complete taxidermy preserves your pet's entire body to cherish forever.</p>
            <div class="col text-center">
            <a class="btn btn-outline-light btn-sm stretched-link" href="#" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Content -->
    <div class="row justify-content-center align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-4">
        <a href="project-4.html" class="d-inline-block">
          <div id="carouselFur" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner h-25">
              <div class="carousel-item active">
                <img src="{{ root }}assets/img/fur/fur1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur5.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur7.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur8.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur9.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur10.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur11.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur12.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{ root }}assets/img/fur/fur13.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselFur" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselFur" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </a>
      </div>
      <div class="col-lg-8">
        <h1 class="fw-normal text-dark">Fur</h1>
        <p class="fw-light text-dark">Fur preservation is one of the most versatile methods of preserving and remembering your pet. Families choose to remember their pets through shaped fur; paw, tail, or complete pelt preservation; whisker and fur clippings; and felted balls.</p>
        <a href="project-4.html" class="link-underline text-dark"><i class="fa-regular fa-heart"></i> See one family's remembrance</a>
      </div>
    </div>
    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6 order-lg-2">
        <a href="project-4.html" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-2.jpg" alt="Interior Design landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <p class="img-text">View Project</p>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5 order-lg-1">
        <h2 class="fw-normal">Interior Design</h2>
        <p class="fw-light text-light">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="project-4.html" class="link-underline">View project</a>
      </div>
    </div>
    <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
      <div class="col-lg-6">
        <a href="project-4.html" class="d-inline-block">
          <figure class="img-overlay mb-0">
            <img src="assets/img/portfolio-3.jpg" alt="Photography landing page" class="img-thumbnail" width="800" height="550">
            <div class="img-hover">
              <p class="img-text">View Project</p>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-5">
        <h2 class="fw-normal">Photography</h2>
        <p class="fw-light text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="project-4.html" class="link-underline">View project</a>
      </div>
    </div>
  </div>

