---
import Layout from "../layouts/BaseNoCTA.astro";
---

<Layout title="Thank you" description="Successful form submission">
  <div class="pt-5 md:pt-14 md:px-40">
    <div class="px-5 font-display text-4xl font-bold">Thank you.</div>
    <div class="px-5 pt-4 font-sans text-lg">
      We will respond to you as soon as we're able. If you have urgent questions
      or concerns, please call or text us at <span class="font-numbers"
        >909-553-1999</span
      >.
    </div>
  </div>
</Layout>
