---
layout: base
title: Thank you for contacting us
description: Successfuly form submission
permalink: /success.html
---
  <div class="container py-5 py-md-6 text-dark">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-3">Thank you for contacting us.</h1>
        <div class="border border-2 border-dark w-15 my-4"></div>
        <p class="lead mb-4">We will respond to you shortly. If you have urgent questions or concerns, please call or text Lauren at 909-553-1999.</p>
      </div>
    </div>
  </div>
