<div class="flex justify-center pb-6 pt-10">
  <a href="/contact"
    ><button
      class="inline-flex h-12 items-center justify-center rounded-md bg-tan px-6 font-medium text-black transition active:scale-95"
      >Contact us</button
    ></a
  >
</div>
