---
// Usage: <ImageLightbox url="/images/cdn/picture.webp" />
const { url } = Astro.props;
---

<a href={url} data-pswp-width="960" data-pswp-height="1200" class="contents">
  <img
    width="960"
    height="1200"
    loading="lazy"
    decoding="async"
    src={url}
    class="w-[300px] h-[375px] object-cover shadow"
  />
</a>