---
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import CTA from "../components/CTA.astro";
import { ViewTransitions } from "astro:transitions";
import { Fathom } from 'astro-analytics';
import "../styles/index.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Precious Creature - {title}</title>
    <ViewTransitions />
    <script></script>
  </head>

  <body class="flex">
    <Header />
    <main class="flex grow flex-col bg-doglady bg-cover bg-center pb-6">
      <slot />
      <CTA />
    </main>
    <Footer />
  </body>
</html>
