---
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import CTA from "../components/CTA.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/index.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2F379VJG2C"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-2F379VJG2C");
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>Precious Creature - {title}</title>
    <ViewTransitions />
  </head>

  <body class="flex">
    <Header />
    <main class="flex grow flex-col bg-doglady bg-cover bg-center pb-6">
      <slot />
      <CTA />
    </main>
    <Footer />
  </body>
</html>
