<footer class="flex flex-col items-center bg-tan text-left">
  <div class="container px-4 pb-3 pt-6 lg:hidden">
    <div class="grid gap-4 lg:grid-cols-3">
      <div class="pb-3">
        <p class="font-display text-lg">Our Mission</p>
        <p>
          Precious Creature exists in order to provide compassionate and
          judgement-free pet taxidermy, aftercare, memorial, and preservation
          services for individuals and families.<p></p>
          <div class="flex flex-row items-start">
            <div class="-m-[16px] pr-1">
              <span
                class="i-f7-paw -rotate-[20deg] text-2xl text-gray-600 text-opacity-25"
              ></span>
            </div>
            <div class="">
              <a class="font-serif text-lg leading-3 tracking-wide"
                >precious creature</a
              >
              <br />
              125 Cajon Street, Redlands CA <a class="font-numbers">92373</a>
              <br />
              inquiries@preciouscreature.com
              <br />
              <a class="font-numbers">909-553-1999</a>
            </div>
          </div>
        </p>
      </div>

      <div
        class="footer hidden bg-tan px-28 pb-5 pt-10 text-base-content lg:flex lg:flex-row"
      >
        <nav class="basis-1/5">
          <h6 class="footer-title">Home</h6>
          <a class="link-hover link">About</a>
          <a class="link-hover link">Grief</a>
          <a class="link-hover link">FAQ</a>
          <a class="link-hover link">Portal Login</a>
        </nav>
        <nav class="basis-1/5">
          <h6 class="footer-title">Services</h6>
          <a class="link-hover link">Overview</a>
          <a class="link-hover link">Coat</a>
          <a class="link-hover link">Casts</a>
          <a class="link-hover link">Skeleton</a>
          <a class="link-hover link">Taxidermy</a>
          <a class="link-hover link">Cremation</a>
        </nav>
        <nav class="basis-1/5">
          <h6 class="footer-title">More</h6>
          <a class="link-hover link">Instagram</a>
          <a class="link-hover link">TikTok</a>
        </nav>
        <div class="basis-2/5">
          <h6 class="footer-title">Our Mission</h6>
          <p class="pb-5 text-sm">
            Precious Creature exists in order to provide compassionate and
            judgement-free pet taxidermy, aftercare, memorial, and preservation
            services for individuals and families.
          </p>
          <div class="flex flex-row items-start">
            <div class="-m-[16px] pr-1">
              <span
                class="i-f7-paw -rotate-[20deg] text-2xl text-gray-600 text-opacity-25"
              ></span>
            </div>
            <div class="">
              <a class="font-serif text-lg leading-3 tracking-wide"
                >precious creature</a
              >
              <br />
              125 Cajon Street, Redlands CA <a class="font-numbers">92373</a>
              <br />
              inquiries@preciouscreature.com
              <br />
              <a class="font-numbers">909-553-1999</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Copyright section-->
    <div class="w-full bg-tan px-4 py-2 text-center">
      <p class="text-sm">Privacy Policy</p>
      <p>© 2024 Precious Creature</p>
    </div>
  </div>
</footer>
