<footer class="flex flex-col items-center bg-tan text-left">

  <div class="lg:hidden container px-4 pt-6 pb-3 ">
    <div class="grid gap-4 lg:grid-cols-3">
      <div class="pb-3">
        <p class="font-display text-lg">Our Mission</p>
        <p>Precious Creature exists in order to provide compassionate and judgement-free pet taxidermy, aftercare, memorial, and preservation services for individuals and families.<p>
      </div>
      <div class="flex flex-row items-start">
        <div class="pr-1 -m-[16px]">
          <span class="i-f7-paw text-2xl -rotate-[20deg] text-gray-600 text-opacity-25"></span>
        </div>          
        <div class="">
          <a class="font-serif text-lg tracking-wide leading-3 ">precious creature</a>
          <br />
          125 Cajon Street, Redlands CA <a class="font-numbers">92373</a>
          <br />
          inquiries@preciouscreature.com
          <br />
          <a class="font-numbers">909-553-1999</a>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden footer lg:flex lg:flex-row bg-tan text-base-content px-28 pt-10 pb-5">

      <nav class="basis-1/5">
        <h6 class="footer-title">Home</h6>
        <a class="link link-hover">About</a>
        <a class="link link-hover">Grief</a>
        <a class="link link-hover">FAQ</a>
        <a class="link link-hover">Portal Login</a>
      </nav>
      <nav class="basis-1/5">
        <h6 class="footer-title">Services</h6>
        <a class="link link-hover">Overview</a>
        <a class="link link-hover">Coat</a>
        <a class="link link-hover">Casts</a>
        <a class="link link-hover">Skeleton</a>
        <a class="link link-hover">Taxidermy</a>
        <a class="link link-hover">Cremation</a>
      </nav>
      <nav class="basis-1/5">
        <h6 class="footer-title">More</h6>
        <a class="link link-hover">Instagram</a>
        <a class="link link-hover">TikTok</a>
      </nav>
      <div class="basis-2/5">
        <h6 class="footer-title">Our Mission</h6>
        <p class="text-sm pb-5">Precious Creature exists in order to provide compassionate and judgement-free pet taxidermy, aftercare, memorial, and preservation services for individuals and families.</p>
        <div class="flex flex-row items-start">
          <div class="pr-1 -m-[16px]">
            <span class="i-f7-paw text-2xl -rotate-[20deg] text-gray-600 text-opacity-25"></span>
          </div>          
          <div class="">
            <a class="font-serif text-lg tracking-wide leading-3 ">precious creature</a>
            <br />
            125 Cajon Street, Redlands CA <a class="font-numbers">92373</a>
            <br />
            inquiries@preciouscreature.com
            <br />
            <a class="font-numbers">909-553-1999</a>
          </div>
        </div>
      </div>
    </footer>

  </div>

  <!--Copyright section-->
  <div class="w-full bg-tan py-2 px-4 text-center">
    <p class="text-sm">Privacy Policy</p>
    <p>© 2024 Precious Creature</p>
  </div>

</footer>