<footer class="flex flex-col items-center bg-tan text-left">
  <div class="container px-8 pb-3 pt-6 md:hidden">
    <div class="grid gap-4 xl:grid-cols-3">
      <div class="pb-3">
        <p class="font-display text-lg">Our Mission</p>
        <p>
          Precious Creature exists in order to provide compassionate and
          judgement-free pet taxidermy, aftercare, memorial, and preservation
          services for individuals and families.<p></p>
          <div class="flex flex-row items-start pt-4">
            <div class="-m-[16px] pr-1">
              <span
                class="i-f7-paw -rotate-[20deg] text-2xl text-gray-600 text-opacity-25"
              ></span>
            </div>
            <div>
              <span class="font-serif text-lg leading-3 tracking-wide"
                >precious creature</span
              >
              <br />
              <a href="https://maps.app.goo.gl/QWFzDY7qRY7d6ycN9"
                ><span class="font-numbers">125</span> Cajon Street, Redlands CA
              </a><span class="font-numbers"
                >92373<span>
                  <br />
                  <a href="mailto:inquiries@preciouscreature.com"
                    >inquiries@preciouscreature.com</a
                  >
                  <br />
                  <span class="font-numbers">909-553-1999</span>
                </span>
              </span>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>

  <div
    class="footer hidden bg-tan px-8 pb-5 pt-10 text-base-content md:flex md:flex-row md:px-40"
  >
    <nav class="basis-1/5">
      <h6 class="footer-title">Home</h6>
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/about">About</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/grief">Grief</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/faq">FAQ</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="https://family.preciouscreature.com/">Portal Login</a
      >
    </nav>
    <nav class="basis-1/5">
      <h6 class="footer-title">Services</h6>
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/preservation">Overview</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/fur">Coat</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/casts">Casts</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/bones">Skeleton</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/full">Taxidermy</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="/cremation">Cremation</a
      >
    </nav>
    <nav class="basis-1/5">
      <h6 class="footer-title">More</h6>
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="https://www.instagram.com/preciouscreature">Instagram</a
      >
      <a
        class="-mb-1 font-medium hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
        href="https://www.tiktok.com/@precious.creature">TikTok</a
      >
    </nav>
    <div class="basis-2/5">
      <h6 class="footer-title">Our Mission</h6>
      <p class="pb-5 text-sm">
        Precious Creature exists in order to provide compassionate and
        judgement-free pet taxidermy, aftercare, memorial, and preservation
        services for individuals and families.
      </p>
      <div class="flex flex-row items-start">
        <div class="-m-[16px] pr-1">
          <span
            class="i-f7-paw -rotate-[20deg] text-2xl text-gray-600 text-opacity-25"
          ></span>
        </div>
        <div class="">
          <span class="font-serif text-lg leading-3 tracking-wide"
            >precious creature</span
          >
          <br />
          <a
            href="https://maps.app.goo.gl/QWFzDY7qRY7d6ycN9"
            class="hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
            ><span class="font-numbers">125</span> Cajon Street, Redlands CA <span
              class="font-numbers">92373</span
            ></a
          >
          <br />
          <a
            href="mailto:inquiries@preciouscreature.com"
            class="hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
            >inquiries@preciouscreature.com</a
          >
          <br />
          <span class="font-numbers">909-553-1999</span>
        </div>
      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="w-full bg-tan px-4 py-2 text-center">
    <a
      class="text-sm hover:underline hover:decoration-gray-400 hover:decoration-[1px] hover:underline-offset-2"
      href="/privacypolicy">Privacy Policy</a
    >
    <p>© 2025 Precious Creature</p>
  </div>
</footer>
