---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  StickyHeader,
} from "astro-navbar";
---

<StickyHeader
  class="sticky top-0 z-20 px-5 transition-all md:px-40 lg:flex lg:justify-between"
  scrollY={50}
  defaultClass="py-4 border-transparent bg-tan"
  activeClass="py-2 bg-white/10 backdrop-blur-lg"
>
  <Astronav closeOnClick>
    <div class="flex w-full justify-between lg:w-auto">
      <a class="font-serif text-2xl tracking-wide" href="/">precious creature</a
      >
      <div class="block lg:hidden">
        <MenuIcon class="h-4 w-4 text-gray-800" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-5">
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span> Preservation</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="mt-0.5 h-3 w-3 group-open:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <DropdownItems class="relative">
              <div
                class="top-2 w-40 rounded border bg-tan-light p-2 shadow lg:absolute"
              >
                <ul>
                  <li>
                    <a href="/preservation">Overview</a>
                  </li>
                  <li>
                    <a href="/fur">Coat</a>
                  </li>
                  <li>
                    <a href="/casts">Casts</a>
                  </li>
                  <li>
                    <a href="/bones">Skeleton</a>
                  </li>
                  <li>
                    <a href="/full">Taxidermy</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
        </li>
        <li>
          <a href="/cremation">Cremation</a>
        </li>
        <li>
          <Dropdown class="group">
            <button class="flex items-center">
              <span> Learn</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="3"
                stroke="currentColor"
                class="mt-0.5 h-3 w-3 group-open:rotate-180"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
              </svg>
            </button>
            <DropdownItems class="relative">
              <div
                class="top-2 w-40 rounded border bg-tan-light p-2 lg:absolute"
              >
                <ul>
                  <li>
                    <a href="/about">About</a>
                  </li>
                  <li>
                    <a href="/grief">Grief</a>
                  </li>
                  <li>
                    <a href="/faq">FAQ</a>
                  </li>
                </ul>
              </div>
            </DropdownItems>
          </Dropdown>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="https://family.preciouscreature.com/">Login</a>
          </li>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</StickyHeader>
